<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Access</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    
  <style>
        @import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tiro+Devanagari+Hindi:ital@0;1&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
    </style>

</head>


    <div class="container">

       <div class="tab">
        <button id="createTab">Create Room</button>
        <button id="joinTab">Join Room</button>
       </div>

       <div id="createRoomForm">
        <h2>Create a Room</h2>
        <input type="text" placeholder="Your Name" id="createName">
        <button id="create-button">Create</button>
       </div>

       <div id="joinRoomForm" >
        <h2>Join a Room</h2>
        <input type="text" placeholder="Room ID" id="roomNumber">
        <input type="text" placeholder="Your Name" id="joinName">
        <button>Join</button>
       </div>
    </div>
<body>
    <script src="/javascripts/script.js"></script>
    <script src="/javascripts/room.js"></script>
   
</body>
</html>