*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    overflow-y: auto;
   overflow-x: hidden;

   
}
/* --------------------MAIN CONATAINER SECTION--------------------*/
.container {
    width: 100%;
     height: 100%;
     min-height: 100vh;
    display: flex;
}
.sidebarpanel{
    height: 100%;
    width: 50px;
    background-color: black;
    border-top: 2px solid black;
    padding: 1.4vh 1.8vh;
    line-height: 11vh;
}
/*--------------------- Side bar CONATAINER SECTION--------------------*/
.sidebar{
    height: 100%;
    width: 20%;
    background-color: #073b4c;
    padding: 2vw;
    letter-spacing: -1px;
    line-height: 6vh;

}

/*---------------------- Whole chat area CONATAINER SECTION-------------------*/
.chatsection{
    height: 100%;
    width: 80%;
    background-color: #030815; 
    display: flex;
    flex-direction: column;
}
/*---------------------- NAV BAR  SECTION-------------------*/
.chatnav{
    width: 100%;
    height: 10%;
    background-color:#0077b6;
    padding: 20px ;
    display: flex;
    justify-content: end;
}
/*---------------------- chat body SECTION-------------------*/
.chatbody{
    padding: 3vh;
    width: 100%;
    height: 80%;
    background-color:#caf0f8; 
   overflow-y: auto;
   overflow-x: hidden;

    
}
/*---------------------- NAV BAR  SECTION-------------------*/
.chatinput{
     position: sticky;
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: 10%;
    background-color: #03045e;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
}
/*chatting area of the app*/
#textbox{
    width: 100%;
    height: 80%;
    border-radius: 8px;
    padding: 2.2vh;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

/* sidebar of the chatroom*/
#searchbar{
    padding: 1vh;
    padding-left: 4px;
    border-radius: 7px;
    border-width: 1px;
    margin:1vw;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
#searchbaricon{
    display: flex;
    width: fit-content;
}
.sidebar h2{
    font-size: 3.5vh;
    margin-left: 1vh;
    color: white;
    font-weight: 500;
    letter-spacing: 2px;
}
/* icons pack*/

#sticker{
    font-size: 30px;
    color: #90e0ef;
    cursor: pointer;
    margin-right: 10px;
}
#attachment{
    color: #90e0ef;
    cursor: pointer;
    margin-right: 10px;
    font-size: 30px
}
#sendbutton{
    color: #90e0ef;
    cursor: pointer;
    font-size: 30px;
    margin-left: 10px;
}
#mapicon{
   color:#90e0ef;
   cursor: pointer;
   font-size: 30px;
}
#voicecall{
   color: #90e0ef;
   cursor: pointer;
   font-size: 30px;
   margin-left: 20px;
}
#searchicon{
    color: #0077b6;
    font-size: 2vw;
    
} 
#chaticon{
    font-size: 3.5vh;
    color: #90e0ef;
}
#settingicon{
    font-size: 3.5vh;
    color: #90e0ef;
}
#darkmodeicon{
    font-size: 3.5vh;
    color: #90e0ef;
}
/* buttons*/
#logoutbutton{
    background-color: black;
    color: #90e0ef;
    border-radius: 50%;
    padding: 1vh;
    position: absolute;
    top: 90%;
    left: 1%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@media (max-width:1200px) {
    .sidebar{
        width:25vw;
    }
}

@media (max-width:900px) {
    .sidebar{
        width:30vw;
    }
}

@media (max-width:700px) {
    .sidebar{
        width:35vw;
    }
    #searchbar{
        margin:0.3vw;
        width: 90%;
    }
}


@media (max-width:600px) {
    .sidebar{
        width:100vw;
       min-height: 100vh;
    }
    .chatsection{
        display: none;
    }
    #searchbar{
        width: 70vw;
        padding: 1.5vh;
    }
}